@model IEnumerable<Order.Object.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}
<p>
    <a asp-action="CreateOrder">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentRecevied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.ShipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.Shipped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.PaymentRecevied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.User.Email)
                </td>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                @*<th>Product Id</th>*@
                                <th>Product Price</th>
                                <th>Product Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderDetail in order.OrderDetail)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => orderDetail.Product.ProductName)</td>
                                    @*<td>@Html.DisplayFor(modelItem => orderDetail.Product.ProductId)</td>*@
                                    <td>@Html.DisplayFor(modelItem => orderDetail.UnitPrice)</td>
                                     <td>@Html.DisplayFor(modelItem => orderDetail.Quantity)</td>
                                    @*<td>@Html.DisplayFor(modelItem => orderDetail.Product.ProductCategory.ProductCategoryName)</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = order.OrderId }) |
                    @Html.ActionLink("Details", "Details", new { id = order.OrderId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = order.OrderId })
                </td>
            </tr>
        }
    </tbody
