@model IEnumerable<Order.Object.Message>

@{
    ViewData["Title"] = "IndexMessage";
}

<h1>IndexMessage</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.BerichtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BerichtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BerichtId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
